body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.hello {
    padding: 50px;
    background-color: #66ccff;
    font-family: sans-serif;
}



.make input[type="text"],
.make input[type="number"] {
    padding: 10px;
    display: flex;
}

 .make label {
    font-weight: bold;
}

.make input[type="submit"] {
    padding: 10px;
    font-weight: bold;
}

.bmirange {
    border-collapse: collapse;
}

.bmirange tbody tr td:nth-child(1) {
    font-weight: bold;
}

.bmirange tbody tr td:nth-child(2) {
    font-weight: normal;
}

.bmirange tbody tr.your-bmi {
    background-color: lightgreen;
}